<%- include("header") %>

<div class="form-body">
        <div class="form-holder">
            <div class="form-content">


                  <div>
                  <h3>National Water Supply and Drainage Board</h3>
                  <p class="homeItem">Kandy South Water Treatment Plant</p>
                  <hr>
                  <!-- Temporoly dissable the button by style -->
                  <a class="btn btn-light btnHomeReg" href="/register" role="button" style="pointer-events: none">Register</a>
                  <a class="btn btn-secondary btnHomeReg" href="/login" role="button">Login</a>
                </div>

</div>
  </div>
</div>s


<%- include("footer") %>
